{% block stylesheet %}
	<link rel="stylesheet" href="{{ asset('css/header.css') }}">
{% endblock %}

<nav class="navbar navbar-expand-lg bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('images/logov2.png') }}" alt="Le logo de ALL4SPORT" srcset="" height="100px">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
				<button class="btn btn-outline-warning" type="submit">Rechercher</button>
			</form>
			<ul class="d-flex flex-row">
				<li>
					<i class="fa-solid fa-bag-shopping text-light"></i>
				</li>
				<li>
					<i class="fa-solid fa-circle-user text-light"></i>
				</li>
			</ul>
		</div>
	</div>
</nav>
